.verify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.verify-box {
    text-align: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
}

.verify-message {
    width: 100%;
    line-height: 1.8;
    margin-bottom: 20px;
    white-space: normal;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    
    
}

.verify-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #D9D9D9;
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #000000
}

.verify-button:hover {
    background-color: #bfbfbf;
}

.verify-form {
    margin-top: 20px;
}

.verify-resend-button {
    background-color: transparent;
    border: none;
    color: #3490dc;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.verify-resend-button:hover {
    color: #2779bd;
}

.verify-status-message {
    color: green;
    margin-top: 10px;
    font-size: 14px;
}
.verify-error-message {
    color: #FF5555;
    font-weight: bold;
    margin-bottom: 1rem;
}